<!-- <footer class="bg-dark text-light pb-2 pt-4 fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contatti</h3>
        <p>Indirizzo: Via Example, 12345 - Città</p>
        <p>Telefono: +39 0123456789</p>
      </div>
      <div class="col-md-4">
        <h3>Link utili</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">Ricette</a></li>
          <li><a href="#" class="text-light">Lista della spesa</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Ricette popolari</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Pasta alla carbonara</a></li>
          <li><a href="#" class="text-light">Tiramisù</a></li>
          <li><a href="#" class="text-light">Pizza margherita</a></li>
          <li><a href="#" class="text-light">Insalata caprese</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="text-center">
      <p>&copy; 2024 Nome della tua azienda</p>
    </div>
  </div>
</footer> -->
