<div class="card">
  <div class="card-header d-flex align-items-center">
    <div class="ms-3">
      <h2 class="mb-0 fs-sm">{{ recipe.name }}</h2>
      <span class="text-muted fs-sm">September 14, 2022</span>
    </div>
    <div class="dropstart ms-auto">
      <button
        class="btn text-muted"
        type="btn"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">Action</a>
        </li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
      </ul>
    </div>
  </div>
  <img [src]="recipe.imagePath" class="card-img-top" alt="{{ recipe.name }}" />
  <div class="card-body">
    <p class="card-text">
      {{ recipe.description }}
    </p>
  </div>
  <div class="card-footer d-flex flex-column">
    <div class="btn-group">
      <button class="btn btn-danger dropdown-toggle" type="button" appDropdown>
        Gestisci ricetta <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a
            class="dropdown-item"
            (click)="onAddToShoppingList()"
            style="cursor: pointer"
            >Aggiungi alla lista</a
          >
        </li>
        <li><a class="dropdown-item">Modifica ricetta</a></li>
        <li><a class="dropdown-item">Cancella ricetta</a></li>
      </ul>
    </div>
    <div class="mt-3">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient.quantity }}
        </li>
      </ul>
    </div>
  </div>
</div>
