<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">
          {{ recipe.description }}
        </p>
        <button class="btn btn-primary ms-2" (click)="onSelected()">
          Dettagli
        </button>
      </div>
    </div>
  </div>
</div>
